args==0.1.0
certifi==2022.12.7+computecanada
charset-normalizer==3.1.0+computecanada
clint==0.5.1
idna==3.4+computecanada
Jinja2==3.1.2+computecanada
joblib==1.2.0+computecanada
MarkupSafe==2.1.2+computecanada
networkx==3.1+computecanada
numpy==1.24.2+computecanada
pandas==1.5.3+computecanada
psutil==5.9.4+computecanada
py-tgb==0.6.0
pyparsing==3.0.9+computecanada
python-dateutil==2.8.2+computecanada
pytz==2023.3+computecanada
requests==2.28.2+computecanada
scikit-learn==1.3.0+computecanada
scipy==1.10.1+computecanada
six==1.16.0+computecanada
sklearn==0.0+computecanada
-e git+git@github.com:shenyangHuang/TGB.git@45ce2e72f38bd2b5cbc86df58305fb598c4b5e30#egg=tgb
threadpoolctl==3.1.0+computecanada
torch==1.13.1+computecanada
torch-geometric==2.3.0+computecanada
torch-scatter==2.1.1+computecanada
tqdm==4.65.0+computecanada
typing-extensions==4.5.0+computecanada
urllib3==1.26.15+computecanada
